In [1]:
!pip install pandas
!pip install numpy
!pip install scipy
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\oviya\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\oviya\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oviya\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\oviya\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\oviya\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\oviya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\oviya\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: scipy in c:\users\oviya\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\oviya\anaconda3\lib\site-packages (from scipy) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\oviya\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.21 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\oviya\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\oviya\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
#load the churn data into pandas dataframe
churn_df = pd.read_csv('churn_clean.csv')
df_original=churn_df.copy

In [4]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   UID                   10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  TimeZone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              10000 non-null  int64
 15  Age                   10000 non-null  int64
 16  Income                10000 non-null  float64
 17  Marital               10000 non-null  object
 18  Gender                10000 non-null  object
 19  Churn                 10000 non-null  object
 20  Outage_sec_perweek    10000 non-null  float64
 21  Email                 10000 non-null  int64
 22  Contacts              10000 non-null  int64
 23  Yearly_equip_failure  10000 non-null  int64
 24  Techie                10000 non-null  object
 25  Contract              10000 non-null  object
 26  Port_modem            10000 non-null  object
 27  Tablet                10000 non-null  object
 28  InternetService       7871 non-null   object
 29  Phone                 10000 non-null  object
 30  Multiple              10000 non-null  object
 31  OnlineSecurity        10000 non-null  object
 32  OnlineBackup          10000 non-null  object
 33  DeviceProtection      10000 non-null  object
 34  TechSupport           10000 non-null  object
 35  StreamingTV           10000 non-null  object
 36  StreamingMovies       10000 non-null  object
 37  PaperlessBilling      10000 non-null  object
 38  PaymentMethod         10000 non-null  object
 39  Tenure                10000 non-null  float64
 40  MonthlyCharge         10000 non-null  float64
 41  Bandwidth_GB_Year     10000 non-null  float64
 42  Item1                 10000 non-null  int64
 43  Item2                 10000 non-null  int64
 44  Item3                 10000 non-null  int64
 45  Item4                 10000 non-null  int64
 46  Item5                 10000 non-null  int64
 47  Item6                 10000 non-null  int64
 48  Item7                 10000 non-null  int64
 49  Item8                 10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [5]:
#Convert the churn column to bool from string
churn_df.Churn = churn_df.Churn.replace({'Yes': True, 'No': False})
churn_df.Churn.head()

C:\Users\oviya\AppData\Local\Temp\ipykernel_32320\3008618565.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  churn_df.Churn = churn_df.Churn.replace({'Yes': True, 'No': False})

0    False
1     True
2    False
3    False
4     True
Name: Churn, dtype: bool

In [6]:
#Observe the tenure column
churn_df.Tenure.describe()

count    10000.000000
mean        34.526188
std         26.443063
min          1.000259
25%          7.917694
50%         35.430507
75%         61.479795
max         71.999280
Name: Tenure, dtype: float64

In [7]:
#Round up the Tensure value to whole number; they indicate the number of months the customer has stayed with the provider
churn_df.Tenure=churn_df.Tenure.round()
churn_df.Tenure.head()

0     7.0
1     1.0
2    16.0
3    17.0
4     2.0
Name: Tenure, dtype: float64

In [8]:
#reduce to only the columns I need to visualization in tableau
churn_df=churn_df[['Customer_id', 'State', 'Population', 'Age', 'Gender', 'Churn', 'Contract', 'InternetService', 'Tenure', 'PaymentMethod']]

In [9]:
churn_df.isnull().sum()

Customer_id           0
State                 0
Population            0
Age                   0
Gender                0
Churn                 0
Contract              0
InternetService    2129
Tenure                0
PaymentMethod         0
dtype: int64

In [10]:
churn_df.InternetService.mode()

0    Fiber Optic
Name: InternetService, dtype: object

In [11]:
#Impute the Internet Service column with mode values
churn_df.InternetService = churn_df.InternetService.fillna('Fiber Optic')

C:\Users\oviya\AppData\Local\Temp\ipykernel_32320\2352415907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_df.InternetService = churn_df.InternetService.fillna('Fiber Optic')

In [12]:
churn_df.isnull().sum()

Customer_id        0
State              0
Population         0
Age                0
Gender             0
Churn              0
Contract           0
InternetService    0
Tenure             0
PaymentMethod      0
dtype: int64

In [13]:
# Save dataframe to CSV
churn_df.to_csv('final_churn_clean.csv', index=False)

In [14]:
#Handle external data file
#Read the external data file into the dataframe
ext_df = pd.read_csv('Average Income and Rent in United States.csv')
df_original=ext_df.copy

In [15]:
ext_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          50 non-null     object
 1   Average_Rent    50 non-null     object
 2   Average_Income  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [16]:
#Name of the state within the United States
ext_df.Region.head()

0       Alabama
1        Alaska
2       Arizona
3      Arkansas
4    California
Name: Region, dtype: object

In [17]:
#We need to map the Region values to Two-Letter State Abbreviations
state_abbreviations={
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
    
}

In [18]:
# Replace state names with abbreviations
ext_df.Region=ext_df.Region.map(state_abbreviations)
ext_df.Region.head()

0    AL
1    AK
2    AZ
3    AR
4    CA
Name: Region, dtype: object

In [19]:
ext_df=ext_df[['Region', 'Average_Income']]

In [20]:
# Save dataframe to CSV
ext_df.to_csv('final_external_clean.csv', index=False)

In [21]:
#Join both datasets so it can be easily interpreted by Tableau
merge_df=churn_df.merge(ext_df, left_on='State', right_on='Region', how='inner' )
print(merge_df)

     Customer_id State  Population  Age  Gender  Churn        Contract  \
0        K409198    AK          38   68    Male  False        One year
1        S120509    MI       10446   27  Female   True  Month-to-month
2        K191035    OR        3735   50  Female  False        Two Year
3         D90850    CA       13863   48    Male  False        Two Year
4        K662701    TX       11352   83    Male   True  Month-to-month
...          ...   ...         ...  ...     ...    ...             ...
9941     M324793    VT         640   23    Male  False  Month-to-month
9942     D861732    TN       77168   48    Male  False        Two Year
9943     I243405    TX         406   48  Female  False  Month-to-month
9944     I641617    GA       35575   39    Male  False        Two Year
9945      T38070    GA       12230   28    Male  False  Month-to-month

     InternetService  Tenure             PaymentMethod Region Average_Income
0        Fiber Optic     7.0   Credit Card (automatic)     AK        $68,919
1        Fiber Optic     1.0  Bank Transfer(automatic)     MI        $56,813
2                DSL    16.0   Credit Card (automatic)     OR        $62,767
3                DSL    17.0              Mailed Check     CA        $77,339
4        Fiber Optic     2.0              Mailed Check     TX        $61,985
...              ...     ...                       ...    ...            ...
9941             DSL    68.0          Electronic Check     VT        $63,206
9942     Fiber Optic    61.0          Electronic Check     TN        $58,279
9943     Fiber Optic    47.0  Bank Transfer(automatic)     TX        $61,985
9944     Fiber Optic    71.0   Credit Card (automatic)     GA        $57,129
9945     Fiber Optic    63.0          Electronic Check     GA        $57,129

[9946 rows x 12 columns]

In [22]:
# Save dataframe to CSV
merge_df.to_csv('final_dataset.csv', index=False)